body {
    font-family: 'Rubik', sans-serif;
    font-size: 90%;
    /* background-image: url("../images/dashboard.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

.mainContainer {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto;
    margin: 2% auto;
    background: rgba(254,245,245,0.8);
    width: 80%;
    border-radius: 15px;
}

.headerContent {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: deepskyblue;
    color: white;
    border-radius: 15px 15px 0 0;
}

.headerContent h2 {
    background: deepskyblue;
}

.left-nav {
    grid-column: 1 / span 2;
    margin: -5px 0;
    background-color: rgb(247, 240, 240);
}

.left-nav a {
    text-decoration: none;
    color: inherit;
}

.left-nav .user-summary, .left-nav .quickLinks a {
    padding: 5% 7%;
}

.left-nav .quickLinks a:hover {
    background: deepskyblue;
    color: whitesmoke;
}

.left-nav .user-summary .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-nav .user-summary .profile-picture img {
    width: 80%;
    border-radius: 50%;
}
.left-nav .user-summary .profile-picture img:hover {
    cursor: pointer;
}

.left-nav .user-summary .userName {
    text-align: center;
}

.left-nav .user-summary .userName .mainUserName {
    font-weight: bold;
}

.left-nav .user-summary .userName .userFooter {
    font-size: 75%;
    margin: -10px 0 0 0;
}

.quickLinks {
    z-index: 1;
    overflow-x: hidden;
}

.quickLinks a {
    display: block;
    padding: 7px 10px 7px 5px;
    width: 100%;
    cursor: pointer;
    text-align: left;
}

.active {
    background-color: deepskyblue;
    color: whitesmoke;
}

.fa-caret-down {
    padding-right: 10px;
}

.midContent {
    grid-column: 3 / -1;
    line-height: 2rem;
    padding: 5%;
}

div.pay {
    grid-column: 3 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.pay form {
    width: 50%;
    margin-top: -20%;
}

form.payment {
}

div.payment-form {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 3% auto;
}

input.inputText {
    padding: 10px;
    width: 100%;
    border-radius: 0;
    border: solid 1px skyblue;
    background: whitesmoke;
}

input.inputText:focus {
    outline: deepskyblue solid 1px;
}

form.payment button {
    height: 45px;
    width: 100%;
    background: deepskyblue;
    color: whitesmoke;
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

form.payment button:hover {
    background: skyblue;
}

p.form-footer {
    font-size: 80%;
    text-align: center;
}

.footerContent {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-top: solid 1px black;
}

@media only screen and (min-width: 450px) and (max-width: 800px) {
    .left-nav {
        grid-column: 1 / span 3;
        background-color: rgb(247, 240, 240);
        margin: -5px 0;
        font-size: 90%;
    }

    .midContent {
        grid-column: 4 / -1;
        line-height: 2rem;
        padding: 5%;
    }

    div.pay {
        grid-column: 4 / -1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.pay form {
        width: 80%;
        margin-top: -20%;
    }
}

@media only screen and (max-width: 449px) {

}