 /**html, body {
                background-color: #aaaaff;
                color: white;
             font-family: 'Kumbh Sans', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

           .first-content{
            float: left;
         margin: 0 auto;
         margin-left: 15%;
         margin-top: 18%;
         line-height: 1.5;
            width: 30%;
            height: 20%;
           }


           .second-content{
              float: right;
         margin: 0 auto;
         margin-right: 15%;
         margin-top: 18%;
        
            width: 30%;
            height: 20%;
           }

#img{
     width: 100%;
  height: auto;
}
           
            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

           

Nav Bar start here 
Add a black background color to the top navigation 
.topnav {
   margin-left: 8%;
 margin-top: 12%;
  overflow: hidden;
}

Style the links inside the navigation bar 
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

Change the color of links on hover 
.topnav a:hover {

  color: black;
}

Add a color to the active/current link 
.topnav a.active {
  background-color:  #aaaaff;
  color: white;
}


**/

html, body {
    background: url(/img/2547984.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.container {
    width: 85%;
    margin: 5% auto 2% auto;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 0 0 0 0;
    border: 1px solid whitesmoke;
    background: snow;
    border-radius: 0 40px 0 40px;
}

div.header-logo {
    width: 20%;
    height: 150px;
    float: left;
}

@media screen and (min-width:701px) {
    img.big-img {
        width: 90%;
        height: 150px;
    }
    
    img.small-img {
        display: none;
    }

    img.hi-mage-1 {
        display: none;
    }
}

div.navigation {
    width: auto;
    height: 150px;
    margin: 0 0 0 0;
    border-radius: 0 0 0 0;
}

div.navigation .nav-bar ul{
    list-style-type: none;
}

div.navigation .nav-bar ul li {
    display: inline-block;
    margin-top: 50px;
    margin-right: -5px;
}

div.navigation .nav-bar ul a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

div.navigation .nav-bar ul a:hover {
    background: rgb(47, 133, 167);
    color: whitesmoke;
    border-radius: 2px;
}

div.mainContent, div.container header, footer {
    margin-left: 2%;
    margin-right: 2%;
}

div.mainContent {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 5px;
}

div.mainContent div.contentArticle {
    line-height: 3;
    text-align: justify;
}

/* begin button styling */

.get-started {
    display: inline-block;
    border-radius: 0 20px 0 20px;
    height: 50px;
    width: 250px;
    background: #7cd1f3;
    border: 1px solid whitesmoke;
    padding: auto auto;
    cursor: pointer;
    text-align: center;
    transition: all 0.1s;
    margin-top: 4%;
    margin-bottom: 30px;
}

.get-started span {
    background: #7cd1f3;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.get-started:hover {
    background-color: #7cd1f3;
}

.get-started span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.get-started:hover span {
    padding-right: 25px;
    background-color: #7cd1f3;
    color: rgb(31, 31, 31);
}

.get-started:hover span:after {
    opacity: 1;
    right: 0;
}
/* end button styling */

div.mainContent div.hi-mage img {
    margin: 20% 0 20% 0;
    width: 100%;
    height: 60%;
}

footer {
    margin-bottom: 2%;
    border-top: black solid 1px;
}

footer > p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px 0;
    font-size: 85%;
}

@media only screen and (min-width: 400px) and (max-width: 700px)
{
    body {
        background: url("img/2547984.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }    

    div.container {
        width: 98%;
        border-radius: 0 0 0 0;
    }

    div.header-logo {
        width: 100%;
        height: auto;
        float: none;
        margin-top: 10px;
        margin-bottom: -20px;
    }

    div.header-logo img.big-img {
        display: none;
    }

    div.header-logo img.small-img {
        width: 100%;
        height: 100px;
        margin-bottom: 0;
    }

    div.navigation {
        background: skyblue;
        width: 100%;
        height: 42px;
        margin: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    div.navigation .nav-bar ul {
        width: auto;
        padding-left: 2%;
    }

    div.navigation .nav-bar ul li {
        display: inline-block;
        margin-top: 0;
        font-size: 85%;
    }

    div.navigation .nav-bar ul li a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 15px;
    }
    
    div.navigation .nav-bar ul a:hover {
        background: rgb(47, 133, 167);
        color: whitesmoke;
    }

    div.mainContent {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 5px;
    }

    div.mainContent > div.contentArticle {
        grid-column: 1 / span 2;
    }

    img.hi-mage-2 {
        display: none;
    }

    img.hi-mage-1 {
        width: 100%;
        height: auto;
        margin: 3% 0 3% 0;
    }

    form {
        margin-bottom: 5%;
    }

    button.get-started {
        width: 100%;
    }

    footer {
        background: none;
        height: 50px;
        margin-bottom: 2%;
        border-top: solid 1px black;
    }

}

@media only screen and (max-width: 399px)
{
    body {
        background: url("img/2547984.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }    

    div.container {
        width: 100%;
        border-radius: 0 0 0 0;
    }

    div.header-logo {
        width: 100%;
        height: auto;
        float: none;
        margin-top: 10px;
    }

    div.header-logo img.big-img {
        display: none;
    }

    div.header-logo img.small-img {
        width: 100%;
        height: 100px;
        margin-bottom: 0;
    }

    div.navigation {
        background: skyblue;
        width: 100%;
        height: auto;
        margin: -17px 0 0 0;
        border-radius: 0 0 0 0;
    }

    div.navigation .nav-bar ul {
        padding-left: 0;
        
    }

    div.navigation .nav-bar ul li {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0;
    }

    div.navigation .nav-bar ul li a {
        text-decoration: none;
        display: block;
        padding: 10px 0;
        border-top: 1px solid whitesmoke;
    }
    
    div.navigation .nav-bar ul a:hover {
        background: rgb(47, 133, 167);
        color: whitesmoke;
    }

    div.mainContent {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 5px;
    }

    div.mainContent > div.contentArticle {
        grid-column: 1 / span 2;
        line-height: 2;
    }

    img.hi-mage-2 {
        display: none;
    }

    img.hi-mage-1 {
        width: 100%;
        height: auto;
        margin: 3% 0 3% 0;
    }

    form {
        margin-bottom: 5%;
    }

    button.get-started {
        width: 100%;
    }

    footer {
        background: none;
        height: 50px;
        margin-bottom: 2%;
        border-top: solid 1px black;
    }
}