body {
    background: whitesmoke;
    font-family: 'Noto Sans KR', sans-serif;
}

div.container {
    width: 70%;
    margin: 5% auto;
    background: white;
    border-radius: 15px;
}

div.logo {
    width: 30%;
    height: 100px;
    float: left;
    color: white;
    text-align: center;
}

div.logo > a {
    text-decoration: none;
    color: white;
}

div.logo > a > h2 {
    display: none;
}

div.logo img {
    width: 96%;
    height: 100%;
    border-radius: 15px 0 0 0;
}

div.today {
    width: 100%;
    height: 40px;
    text-align: right;
    display: none;
}

div.header-text {
    width: 100%;
    height: 100px;
    background: skyblue;
    border-radius: 15px 15px 0 0;
}

div.header-text > h1 {
    transform: translate(10%, 70%);
    color: white;
}

div.other-object {
    display: none;
}

div.form {
    width: 40%;
    margin: 2% auto;
}

div.mainForm h3 {
    text-align: center;
}

div.input-form {
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}

.icon {
    padding: 10px;
    background: deepskyblue;
    color: white;
    min-width: 25px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    margin-right: 2%;
}

input.frstName, input.lstName, input.e-mail, input.user, input.login-pwd, select {
    padding: 10px;
    width: 100%;
    border-radius: 0;
    border: solid 1px skyblue;
    background: whitesmoke;
    font-family: 'Noto Sans KR', sans-serif;
}

input.frstName:focus, input.lstName:focus, input.e-mail:focus, input.user:focus, input.login-pwd:focus, select:focus {
    outline: none;
}

#consent {
    display: inline-block;
}

button.login {
    height: 40px;
    width: 50%;
    background: deepskyblue;
    color: whitesmoke;
    outline: none;
    border: solid deepskyblue 1px;
    box-shadow: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -20px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
}

p.form-footer {
    font-size: 80%;
    text-align: center;
}

p.form-footer a {
    text-decoration: none;
}

footer {
    border-top: black solid 1px;
    margin-top: 5%;
    height: 30px;
    padding: 5px 0;
}

footer > p {
    text-align: center;
    font-family: 'Kufam', cursive;
    font-size: 55%;
}

@media only screen and (min-width: 450px) and (max-width: 800px) {
    body {
        background: rgb(236, 229, 229);
    }

    div.container {
        width: 90%;
        margin: 5% auto;
        background: white;
        border-radius: 15px;
    }

    div.form {
        width: 60%;
        margin: 2% auto;
    }
}

@media only screen and (max-width: 449px) {
    body {
        background: rgb(236, 229, 229);
    }

    div.container {
        width: 98%;
        margin: 5% auto;
        background: white;
        border-radius: 0;
    }

    div.logo img {
        width: 96%;
        height: 100%;
        border-radius: 0;
    }

    div.header-text {
        width: 100%;
        height: 100px;
        background: skyblue;
        border-radius: 0;
    }

    div.form {
        width: 90%;
        margin: 2% auto;
    }
}